<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            Quiz Create
        {% endblock %}
    </title>
    <style>
        {% block stylesheets %}
        html{font-family: "Arial Black", serif ;}
        body{background: url(background.jpg) repeat;}
        .logo{margin-left:10px;height:250px;width: 250px;}
        .Header{margin-top:5px;border-radius: 10px;background: url(grey-background.jpg) repeat;height:238px;}
        ul a{text-decoration: none;color:white;}
        .Menu{margin-left:320px;margin-right: 150px;margin-top:-200px;width:auto;}
        .MenuLi{display:inline;border:1px solid white;border-radius: 2px;font-size:30px;margin-top:6px;padding:10px;}
        .MenuLi:hover{background-color: #259eff;}
        .LoginButton{color:white;margin-left:1050px;margin-top:-60px;font-size:40px;}
        .LoginButton a{color:white;}
        .loginText{font-size: 15px;}
        .Login:hover{color:#6b9311;}
        .QuestionAndAnswers{color:sandybrown;}
        .Answers{list-style-type: none;font-size: 20px;}
        .form {margin-left:40px;}
        .message{color:red;font-size:30px;margin-top:20px;}
        {% endblock %}
    </style>
</head>
<body>
{% block body %}
    <div class="Header">
        <img class="logo" src="{{ asset('logo.png') }}" alt="iQuiz">
        <ul class="Menu">
            <li class="MenuLi"><a href="http://iQuiz/web/AdminMainPage" class="MainPage">Main Page</a></li>
            <li class="MenuLi"><a href="http://iQuiz/web/Rules" class="Rules">Rules</a></li>
            <li class="MenuLi"><a href="http://iQuiz/web/Ratings" class="Ratings">Ratings</a></li>
            <li class="MenuLi"><a href="http://iQuiz/web/Contacts" class="Contacts">Contacts</a></li>
        </ul>
        <div class="LoginButton"><a href="http://iQuiz/web/{{ login }}" class="Login">{{ login }}</a>
            <p class="loginText">({{ loginText }})</p>
        </div>

    </div>


<div class="QuestionAndAnswers">
    <h1 class="Questions">{{ CurrentQuestion }}</h1>
    <ul class="Answers">
        <li>1){{ CurrentAnswersArray[0] }}</li>
        <li>2){{ CurrentAnswersArray[1] }}</li>
        <li>3){{ CurrentAnswersArray[2] }}</li>
        <li>4){{ CurrentAnswersArray[3] }}</li>
    </ul>
</div>
    <form class="form" action="" method="post" name="CreateQuestion">
            <span class="ForForm"><label for="Quiz"></label>
            <input autofocus name="AnswerNumber" type="text" size="1" autocomplete="off" maxlength="1"/>
    <input class="submit" name="submit" type="submit" value="Submit" /></span>
</form>

    <div class="message">
        {{ message }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
</body>
</html>